.DS_Store
*.aux
/_shake/
/_build/
*.lof
*.log
*.lot
*.out
*.toc
*.bib.bak
*.xml
*.eps
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.synctex.gz
/.stack-work/
/midway-presentation/_build/
/save-commands.json
/midway-presentation/beamer/.texpadtmp/
*.pygtex
.texpadtmp
_minted-thesis
thesis.pdf
thesis.old.pdf
